


<h2> Add New Agent   </h2>
<form [formGroup]="addAgent"  novalidate class="form"  >

  <div>


    <label for="Account"> Account</label>
    <input type="text" formControlName="account" name="Account">
  </div>
  <div>


    <label for="FirstName"> First Name</label>
    <input type="text" formControlName="firstName" name="FirstName">
  </div>
  <div>
    <label for="Lastname"> Last Name</label>
    <input type="text" formControlName="lastName" name="Lastname">
  </div>
  <div>
    <label for="Email"> Email:</label>
    <input type="email" formControlName="emailAddress" name="Email">
  </div>
  <div>
    <div>
      <label for="AgentId"> Agent ID:</label>
      <input type="AgentId" formControlName="agentId" name="AgentId">
    </div>

    <label for="phoneNumber"> Phone Number:</label>
    <input type="number" formControlName="phoneNumber" name="phoneNumber">
  </div>
  <div>
    <button  type="submit" (click)="createAgent()" > Create A New Agent</button>
  </div>
</form>



<!-- <div>
  <label for="phoneNumber"> Received Calls</label>
  <input type="number" formControlName="phoneNumber" name="phoneNumber">
</div>
<div>
  <label for="phoneNumber"> Failed Calls:</label>
  <input type="number" formControlName="phoneNumber" name="phoneNumber">
</div>
<div>
  <label for="phoneNumber"> Total Calls:</label>
  <input type="number" formControlName="phoneNumber" name="phoneNumber">
</div> -->
