<div class="spacediv">

</div>
<div class="tablediv">
  <table class="tg">
    <thead>
    <tr>
      <th class="tg-j8c8">Account</th>
      <th class="tg-j8c8">Name</th>
      <th class="tg-j8c8">Phone Number</th>
      <th class="tg-j8c8">Agent_id</th>
      <th class="tg-j8c8">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agent of agents">
      <td class="tg-0pky"> {{agent.account}}  </td>
      <td class="tg-0pky">{{agent.firstName}} {{agent.lastName}} </td>
      <td class="tg-0pky">{{agent.phoneNumber}}</td>
      <td class="tg-0pky">{{agent.agentId}}</td>
      <td class="tg-0pky button_cell">
        <a routerLink="edit/{{agent._id}}">  <button >Edit</button></a>
        <button (click)='deleteAgent(agent)'>Delete </button>
      </td>
    </tr>
  </tbody>
</table>
</div>
<!-- <div>
  <app-search></app-search>
</div> -->
