
<h2> Add New Student   </h2>
<form [formGroup]="addAgent" novalidate class="form" >
  <div>

    <label for="Name"> Name:</label>
    <input type="text" formControlName="name" name="Name">
  </div>
  <div>
    <label for="Cohort"> Cohort:</label>
    <input type="text" formControlName="cohort" name="Cohort">
  </div>
  <div>
    <label for="Email"> Email:</label>
    <input type="email" formControlName="email" name="Email">
  </div>
  <div>
    <label for="phoneNumber"> Phone Number:</label>
    <input type="number" formControlName="phoneNumber" name="phoneNumber">
  </div>
  <div>
    <label for="phoneNumber"> Received Calls</label>
    <input type="number" formControlName="phoneNumber" name="phoneNumber">
  </div>
  <div>
    <label for="phoneNumber"> Failed Calls:</label>
    <input type="number" formControlName="phoneNumber" name="phoneNumber">
  </div>
  <div>
    <label for="phoneNumber"> Total Calls:</label>
    <input type="number" formControlName="phoneNumber" name="phoneNumber">
  </div>
  <div>
     <button type="submit" (click)="onSubmit()"> Edit Agent</button>
  </div>

  <div>
    <app-charts></app-charts>
  </div>
</form>

